In [3]:
# create a set

set1={1,2,3}
type(set1)

set

In [15]:
# we can also create a set.
# by converting any iterable into a set.
# by converting any sequence into a set.

set1=set([1,2,3])
set2=set((1,23,4))

# keys are only considered as elements.
set3=set({1:4,2:3})
print(set1)
print(set2)
set3

{1, 2, 3}
{1, 4, 23}

{1, 2}

### Add

In [17]:
set1={1,2,3}
print(set1)
set1.add(4)
set1

{1, 2, 3}

{1, 2, 3, 4}

### Adding Multiple Elements

In [19]:
set1={1,2,3}
print(set1)
set1.update([4,2,3])
set1

{1, 2, 3}

{1, 2, 3, 4}

In [20]:
set1.update((1,4,5,6))
print(set1)

{1, 2, 3, 4, 5, 6}

In [23]:
set1.update({'a':1,'b':2})
set1

{1, 2, 3, 4, 5, 6, 'a', 'b'}

### Remove

#### Remove Items

In [24]:
# Remove value by an element.
# throws an error when ele is not found.
set1.remove('a')
set1

{1, 2, 3, 4, 5, 6, 'b'}

In [25]:
# Remove value by an element
# no error
set1.discard('b')
set1

{1, 2, 3, 4, 5, 6}

In [ ]:
#Deletes Randomly
set1.pop()

#### Remove or clear set

In [26]:
# only content
set1.clear()
set1

set()

In [28]:
#Removes complete set.
del set1
set1

<class 'NameError'>: name 'set1' is not defined

### copy

In [29]:
# shallow copy means only content will be copied.
# deep copy means refernece is copied.

set1={1,2,3,4}
set2=set1.copy()
print(id(set1))
print(id(set2))

72606704
73651384

### Union ( | )

In [40]:
# all elements in both sets but appear only once.
set1={1,2,3}
set2={3,4,5}
set.union(set1,set2)

{1, 2, 3, 4, 5}

In [41]:
set1|set2

{1, 2, 3, 4, 5}

### InterSection ( & )

In [45]:
# Only common elements
set1={1,2,3,4}
set2={3,4,5,6}
set.intersection(set1,set2)

{3, 4}

In [46]:
set1 & set2

{3, 4}

### difference

In [34]:
# only set1 elements which are uncommon
set1={1,2,3,4,5}
set2={4,5,6,7}
set.difference(set1)

{1, 2, 3, 4, 5}

### Symmetric Difference

In [35]:
# all Uncommon elements in both sets
set1={1,2,3,4,5}
set2={4,5,6,7}
set.symmetric_difference(set1,set2)

{1, 2, 3, 6, 7}

### issubset

In [36]:
set1={1,2}
set2={1,2,3,4}
set1.issubset(set2)

True

### issuperset

In [38]:
set2.issuperset(set1)

True