# Tuples

#### Tuples are also sequence of items or even sequences
#### . It must have  commas
#### . Parantheses must be optional
#### . Tuples are immutable we cannot change tuples

### Creating Tuples

### Tuples can be cretaed by assigning them as a literal

In [3]:
t1=()
#empty literal
print(type(t1))

<class 'tuple'>

In [4]:
t1=(1,2,3)
print(type(t1))

<class 'tuple'>

In [5]:
# comma is must in tuples so () and atleast one comma must be present 
# so when we have one element in tuple comma must be there at the end.

t1=(1)
type(t1)

int

In [6]:
t1=(1,)
print(type(t1))

<class 'tuple'>

In [7]:
# Without Parantheses
t1=1,2,3
print(type(t1))

<class 'tuple'>

# Indexing , Slicing

### Tuples on indexing,slicing are similar to lists

# changing tuples

# we can't change tuple as it is immutable

In [9]:
t1=(21,22,3)
t1[1]=3

<class 'TypeError'>: 'tuple' object does not support item assignment

### But we can change its mutable item.

In [11]:
t1=(1,2,['a','b'])
t1[-1][0]='c'
print(t1)
# here we are not making any change in tuple 
# reason the item in tuple is not list ['a','b'] but the address of list so changing list won't change its address so mutable items can be modifeid.

(1, 2, ['c', 'b'])

# Concatenation of Tuples

### Using + operator

In [12]:
t1=('a','b')+('c','d')+('e','f')
print(t1)

('a', 'b', 'c', 'd', 'e', 'f')

### Using * operator

In [13]:
# same tuple can be concatenated mupltiple times.
t1=('a','b')*4
t1

('a', 'b', 'a', 'b', 'a', 'b', 'a', 'b')

# Deletion of tuple

In [16]:
# we cannot delete particular item as it is immutable
# we cannot replace items ,modify items in tuple
del t1
t1

<class 'NameError'>: name 't1' is not defined

# Count

In [18]:
# counts the frequency of an element in tuple

t1=(1,2,3,3,4)
t1.count(3)

2

In [20]:
print(" Length of a Tuple : ",len(t1))

 Length of a Tuple :  5

# Get Index

### tuple_name.index()

In [21]:
# will give you the first occurnece
print(t1.index(3))

2

### in operator or Tuple Membership

In [23]:
print(3 in t1)
print(7 in t1)

True
False

# Soritng
### sorting in tuple returns a new tuple doesn't modify and sort it.

In [25]:

sorted(t1)

# this will throw an error
# t1.sort()

[1, 2, 3, 3, 4]

# minimum element

In [28]:
min(t1)

1

# maximum element

In [27]:
max(t1)

4

# sum

In [26]:
sum(t1)

13